*{margin: 0; padding: 0; box-sizing: border-box;}

/*** Classes ***/
.center{display: flex; justify-content: center; align-items: center; text-align: center;}
.container{max-width: 1000px; margin-left: auto; margin-right: auto;}
.pd-top{padding-top: 1rem;}
.wrapper-text{padding-left: 2rem; padding-right: 2rem; padding-bottom: 1rem;}
.wrapper-pic{padding-left: 2rem; padding-right: 2rem; padding-bottom: 1rem;}
/*wrapper-pic MOBILE*/ @media (max-width: 500px){.wrapper-pic{padding-left: 0; padding-right: 0;}}

@mixin img-center {
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

//REM size for smaller screens
@media (max-width: 700px){:root{font-size: 14px;}}
@media (max-width: 500px){:root{font-size: 12px;}}



/*** ID's ***/

#photo-gallery{
    >div{
         height: 100px;
         
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
    } 
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    //grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 'img-1 img-2 img-3 img-4'
                         'img-5 img-6 img-7 img-8';
    @media (max-width: 700px){
        grid-template-areas: 'img-1 img-1 img-2 img-2'
                             'img-3 img-3 img-4 img-4'
                             'img-5 img-5 img-6 img-6'
                             'img-7 img-7 img-8 img-8';
    }
    @media (max-width: 500px){
        grid-template-areas: 'img-1 img-1 img-1 img-1'
                             'img-2 img-2 img-2 img-2'
                             'img-3 img-3 img-3 img-3'
                             'img-4 img-4 img-4 img-4'
                             'img-5 img-5 img-5 img-5'
                             'img-6 img-6 img-6 img-6'
                             'img-7 img-7 img-7 img-7'
                             'img-8 img-8 img-8 img-8';
    }
    // grid-auto-rows: 50px;
    // grid-auto-flow: dense;
    :nth-child(1){
        grid-area: img-1;  
        background: url('images/pic-1.jpg'); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    :nth-child(2){
        grid-area: img-2; 
        background: url('images/pic-2.jpg'); 
        @include img-center();
    }
    :nth-child(3){
        grid-area: img-3; 
        background: url('images/pic-3.jpg');
        @include img-center(); 
    }
    :nth-child(4){
        //grid-area: 'img-1';   
        grid-area: img-4; 
        background: url('images/pic-4.jpg'); 
        @include img-center();
    }
    :nth-child(5){
        grid-area: img-5; 
        background: url('images/pic-5.jpg'); 
        @include img-center();
    }
    :nth-child(6){
        grid-area: img-6; 
        background: url('images/pic-6.jpg'); 
        @include img-center();
    }
    :nth-child(7){
        grid-area: img-7; 
        background: url('images/pic-7.jpg'); 
        @include img-center();
    }
    :nth-child(8){
        grid-area: img-8; 
        background: url('images/pic-8.jpg'); 
        @include img-center();
    }
}