* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*** Classes ***/
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.pd-top {
  padding-top: 1rem;
}

.wrapper-text {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.wrapper-pic {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

/*wrapper-pic MOBILE*/
@media (max-width: 500px) {
  .wrapper-pic {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 12px;
  }
}

/*** ID's ***/
#photo-gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: 'img-1 img-2 img-3 img-4' 'img-5 img-6 img-7 img-8';
}

#photo-gallery > div {
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  #photo-gallery {
        grid-template-areas: 'img-1 img-1 img-2 img-2' 'img-3 img-3 img-4 img-4' 'img-5 img-5 img-6 img-6' 'img-7 img-7 img-8 img-8';
  }
}

@media (max-width: 500px) {
  #photo-gallery {
        grid-template-areas: 'img-1 img-1 img-1 img-1' 'img-2 img-2 img-2 img-2' 'img-3 img-3 img-3 img-3' 'img-4 img-4 img-4 img-4' 'img-5 img-5 img-5 img-5' 'img-6 img-6 img-6 img-6' 'img-7 img-7 img-7 img-7' 'img-8 img-8 img-8 img-8';
  }
}

#photo-gallery :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img-1;
  background: url("images/pic-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#photo-gallery :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img-2;
  background: url("images/pic-2.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

#photo-gallery :nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img-3;
  background: url("images/pic-3.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

#photo-gallery :nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: img-4;
  background: url("images/pic-4.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

#photo-gallery :nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img-5;
  background: url("images/pic-5.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

#photo-gallery :nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img-6;
  background: url("images/pic-6.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

#photo-gallery :nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: img-7;
  background: url("images/pic-7.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

#photo-gallery :nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: img-8;
  background: url("images/pic-8.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */